@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&family=Poppins:wght@300&display=swap");

* {
  margin: 0;
}

body {
  font-family: "Outfit", sans-serif;
  font-family: "Poppins", sans-serif;
}
